@page "/Advancedclass"
@using razor_files_demo.Pages.ContactComponents
@foreach (var contact in contacts)
{
    <ContactComponents01 FirstName="@contact.FirstName" LastName="@contact.LastName" Email="@contact.Email"/>
}
<h1>part 2</h1>
@foreach (var contact in contacts)
{
    @* <p>hy</p> *@
    <AdvContactComponents01 CurrentContact="contact"/>
}
<br>
<Mytextbox Placeholder="Sample Placeholder"></Mytextbox>
@code{
    private List<Contacts> contacts;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        contacts = new List<Contacts>
        {
            new Contacts { FirstName = "John", LastName = "Doe", Email = "john.doe@example.com", Phone = "123-456-7890" },
            new Contacts { FirstName = "Jane", LastName = "Smith", Email = "jane.smith@example.com", Phone = "234-567-8901" },
            new Contacts { FirstName = "Michael", LastName = "Johnson", Email = "michael.johnson@example.com", Phone = "345-678-9012" },
            new Contacts { FirstName = "Emily", LastName = "Davis", Email = "emily.davis@example.com", Phone = "456-789-0123" },
            new Contacts { FirstName = "David", LastName = "Wilson", Email = "david.wilson@example.com", Phone = "567-890-1234" }
        };
    }
}